.App {
  text-align: center;
}
.Box{
  height: 30px;
  width: 60%;
  margin: 10px;
}
.form{
  height: 30%;
  width: 20%;
  border: 3px solid blueviolet;
  margin: 20px;
  

}
.btn{
  width: 200px;
  padding: 10px;
  font: bold;
  background-color: rgb(144, 86, 197);
  border-radius: 5px;
  margin: 30px;
}